In [1]:
Collections:

List -> []
Tuple -> ()
Set -> {}
Dictionary -> {key:value}

SyntaxError: invalid syntax (145804765.py, line 1)

In [2]:
'''
    Lists: of elements of various datatypes. Duplicate elements. Mutable
    
'''

'\n    Lists: of elements of various datatypes. Duplicate elements. Mutable\n    \n'

In [3]:
# Creating an empty list using built-in method
my_lst = list()
my_lst

[]

In [4]:
# 2nd method

my_lst = []
my_lst

[]

In [5]:
dir(my_lst)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [7]:
web_techs = ['HTML', 'CSS', 'JS', 'React','Redux', 'Node', 'MongoDB']
print(len(web_techs))

7

In [8]:
print(web_techs[0])

HTML

In [9]:
print(web_techs[-1])

MongoDB

In [10]:
lst = ['Asabeneh', 250, True, {'country':'Finland', 'city':'Helsinki'}]

In [11]:
print(lst[2])

True

In [12]:
print(type(lst[2]))

<class 'bool'>

In [13]:
print(type(lst[3]))

<class 'dict'>

In [14]:
web_techs

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'MongoDB']

In [17]:
print(web_techs[1:4])

['CSS', 'JS', 'React']

In [22]:
integers = [0,1,2,3,4,5,6,7,8]

In [23]:
# Print only even integers
print(integers[::2])

[0, 2, 4, 6, 8]

In [25]:
# Print only even integers
print(integers[0::2])

[0, 2, 4, 6, 8]

In [26]:
# Unpacking lists

In [27]:
fruits = ['banana', 'orange', 'mango', 'lemon','lime','apple']
first, second, third, *rest = fruits

print(first)
print(second)
print(third)
print(rest)

banana
orange
mango
['lemon', 'lime', 'apple']

In [28]:
first, second, third,*rest, tenth = [1,2,3,4,5,6,7,8,9,10]
print(first)
print(second)
print(third)
print(rest)
print(tenth)

1
2
3
[4, 5, 6, 7, 8, 9]
10

In [29]:
countries = ['Germany', 'France','Belgium','Sweden','Denmark','Finland','Norway','Iceland','Estonia']
gr, fr, bg, sw, *scandic, es = countries

print(scandic)

['Denmark', 'Finland', 'Norway', 'Iceland']

In [30]:
fruits = ['banana', 'orange', 'mango', 'lemon','lime','apple']

In [31]:
print(fruits[4])

lime

In [32]:
# Modifying elements in a list
print(fruits)
fruits[4] = "Melon"
print(fruits)

['banana', 'orange', 'mango', 'lemon', 'lime', 'apple']
['banana', 'orange', 'mango', 'lemon', 'Melon', 'apple']

In [33]:
print(fruits)
fruits[0] = "apple"
print(fruits)

['banana', 'orange', 'mango', 'lemon', 'Melon', 'apple']
['apple', 'orange', 'mango', 'lemon', 'Melon', 'apple']

In [37]:
# Checking an element/item in list:
print(fruits)
print('orange' in fruits)
print('banana' in fruits)

['apple', 'orange', 'mango', 'lemon', 'Melon', 'apple']
True
False

In [39]:
'f' in 'orange'

False

In [48]:
# Adding the elements

my_list = ['apple', 'banana']

In [49]:
print(my_list)

['apple', 'banana']

In [50]:
my_list[2] = 'mango'

IndexError: list assignment index out of range

In [51]:
my_list.append('mango')

In [52]:
print(my_list)

['apple', 'banana', 'mango']

In [53]:
my_list.append("pineapple")
print(my_list)

['apple', 'banana', 'mango', 'pineapple']

In [54]:
# at index 1, I want to add "dates" fruit
my_list[1] = "dates"
print(my_list)

['apple', 'dates', 'mango', 'pineapple']

In [55]:
my_list.insert(2, "banana")

In [56]:
print(my_list)

['apple', 'dates', 'banana', 'mango', 'pineapple']

In [57]:
# append --> Add the item at the end of the list
# insert --> add the item at a specific index

In [58]:
# Removing items from list
# remove --> removes a specific item from the list
# pop --> removes the item from a list at specific index or the last item

In [59]:
print(my_list)

['apple', 'dates', 'banana', 'mango', 'pineapple']

In [60]:
my_list.remove('mango')

In [61]:
print(my_list)

['apple', 'dates', 'banana', 'pineapple']

In [62]:
my_list.remove('mango')

ValueError: list.remove(x): x not in list

In [63]:
print(my_list)

['apple', 'dates', 'banana', 'pineapple']

In [64]:
my_list.pop()
print(my_list)

['apple', 'dates', 'banana']

In [65]:
my_list.pop(1)
print(my_list)

['apple', 'banana']

# del
# clear
# copy
# reverse
# sort -> which algorithm is used for sorting

In [69]:
# Adding a list

positive_numbers = [1, 2, 3, 4, 5, 6]
negative_numbers = [-5,-4,-3]
zero = [0]

all_numbers = negative_numbers +  positive_numbers + zero
print(all_numbers)

[-5, -4, -3, 1, 2, 3, 4, 5, 6, 0]

In [67]:
fruits = ['banana', 'mango']
vegies = ['tomato', 'potato']
print(vegies)

['tomato', 'potato']

In [68]:
vegies.extend(fruits)
print(vegies)

['tomato', 'potato', 'banana', 'mango']