In [1]:
first = "first string"
second = 'second string'
mulitlines_string = '''
    this is a python
    training class
    and we are learning python
'''

In [2]:
first_string = ""
print(type(first_string))
print(len(first_string))

<class 'str'>
0

In [3]:
first_string = " "
print(type(first_string))
print(len(first_string))

<class 'str'>
1

In [5]:
sentence = "This is python training for 30 days"
print(sentence)
print(len(sentence))

This is python training for 30 days
35

In [6]:
# String concatenation

first_name = "Kate"
last_name = "Winslet"

full_name = first_name + last_name
print(full_name)

KateWinslet

In [11]:
first_name = "Kate"
last_name = "Winslet"

full_name = first_name + ' ' + last_name
print(full_name)

Kate Winslet

In [3]:
first_name = "Kate"
last_name = "Winslet"
delimiter = "_"

full_name = first_name + delimiter + last_name
print(full_name)

Kate_Winslet

In [9]:
course = "Python"
duration = 30
tutor = "Vishal Kumar"

# expected output = "We are learning <course_name> for <duration> days. The tutor name is <tutor_name>"

In [10]:
'''
    %s -> string
    %d -> integers
    %f -> float
    %.<num_of_digits>f -> float point with fixed precision
    
'''

'\n    %s -> string\n    %d -> integers\n    %f -> float\n    %.<num_of_digits>f -> float point with fixed precision\n    \n'

In [11]:
output = "We are learning %s for %d days. The tutor name is %s"%(course, duration, tutor)
print(output)

We are learning Python for 30 days. The tutor name is Vishal Kumar

In [18]:
output = "We are learning {} for {} days. The tutor name is {}".format(course, duration, tutor)
print(output)

We are learning Python for 30 days. The tutor name is Vishal Kumar

In [26]:
radius = 3
pi = 3.1486
area = pi * radius ** 2

# radius is <radius> and pi is <pi>. The area of circle is <area>

In [27]:
output = "radius is %d and pi is %f. The area of circle is %f" %(radius, pi, area)
print(output)

radius is 3 and pi is 3.148600. The area of circle is 28.337400

In [28]:
output = "radius is %d and pi is %.2f. The area of circle is %.1f" %(radius, pi, area)
print(output)

radius is 3 and pi is 3.15. The area of circle is 28.3

In [29]:
output = "radius is {} and pi is {:.2f}. The area of circle is {:.2f}".format(radius, pi, area)
print(output)

radius is 3 and pi is 3.15. The area of circle is 28.34

In [30]:
output = "radius is {} and pi is {:.2f}. The area of circle is {:.2f}".format(pi, radius, area)
print(output)

radius is 3.1486 and pi is 3.00. The area of circle is 28.34

In [ ]:
# String interpolation (python 3.6+)

In [ ]:
radius = 3
pi = 3.1486
area = pi * radius ** 2

In [31]:
output = f"radius is {radius} and pi is {pi}. The area of circle is {area}"
print(output)

radius is 3 and pi is 3.1486. The area of circle is 28.337400000000002

In [32]:
radius = 3
pi = 3.1486
# area = pi * radius ** 2
output = f"radius is {radius} and pi is {pi}. The area of circle is {pi * radius ** 2}"
print(output)

radius is 3 and pi is 3.1486. The area of circle is 28.337400000000002

In [33]:
radius = 3
pi = 3.1486
print(f"radius is {radius} and pi is {pi}. The area of circle is {pi * radius ** 2}")

radius is 3 and pi is 3.1486. The area of circle is 28.337400000000002

# Q1 : Is python a dynamic typed language or static typed language?

# Q2 : Type conversion in python?

# Q3 : Floating point digits precision in string interpolation

In [38]:
# Concatenate the string 'Thirty', 'Days', 'Of', 'Python' to a single string, 'Thirty Days Of Python'.
first = "Thirty"
second = "Days"
third = "Of"
fourth = "Python"
space = " "

single_string = first + space + second + space + third + space + fourth
print(single_string)

Thirty Days Of Python

In [39]:
output = f"{first} {second} {third} {fourth}"
print(output)

Thirty Days Of Python